 *{margin: 0px auto;padding: 0px; font-size: 20px;list-style: none;text-decoration: none;}

body{
	background: url("../image/body3.jpg") no-repeat;
	background-size: 100%; 
	background-attachment: fixed; /*固定*/
}


h1{
	font-size: 20px;
	text-align: center;
	color: red;
}

    .main{
        width: 600px;
        height: 600px;
        max-width: 460px;
        margin: 0 auto;
        margin-top: 50px; 
        box-shadow: 10px 50px 100px #555;
        border-radius: 5px;
        border: 1px solid #909090;
    }
    .user{
        margin: 0px auto;
        margin-top: 20px;
    }
    .footer{
        height: 65px;
        text-align: center;
        box-sizing: border-box;
        font:17px/22px "微软雅黑","黑体",sans-serif;
        margin-top: 70px;
        color: red  ;
    }
    .footer .misc{
        width: 500px;
        margin: 0px auto;
    }
    .footer .misc ul li{
        margin-top:17px;
        margin-left: 40px;
        float: left;
    }
    .footer .misc ul li a{
        color: red;
    }
    .footer .misc ul li a:hover{
        text-decoration: underline;
        color: white;
    }  
      
    .register{
        display: block;
        margin-top: 150px;
        margin-left: 360px;
        color: #e41b1b;
        font-size: 30px;
    }
    #user{
        color: #e41b1b;
    }
    #form{
        margin: 0 auto;
        margin-top: 200px;
    }
    p{
        font-size: 17px;
    }